<div id="item{{id}}-div" class="container">
    <div id="item{{id}}-desc" class="item item-name">
        <p>Some Task</p>
    </div>
    <div id="item{{id}}-level" class="item item-level">
        <p>Priority Level</p>
    </div>

    <div id="edit-button{{id}}" class="edit-button">
        <input id="edit-item{{id}}" type="button" value="Edit" />
    </div>
    <div id="delete-button{{id}}" class="delete-button">
        <input id="delete-item{{id}}" type="button" value="Delete" />
    </div>
</div>